<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-6 lg:mb-8" id="load">
    <div id="load-1"
         class="group flex flex-col h-full  rounded-xl  shadow-lg shadow-slate-900  border border-slate-500  ">
        <div class="h-36 flex flex-col justify-center items-center  bg-sky-600  text-5xl lg:text-7xl text-black rounded-t-xl ">
            {{ load1 }}
        </div>
        <div class="p-4 md:p-6 bg-white dark:bg-black rounded-b-xl text-center content-center">
            <h3 class="text-xl font-semibold rounded-b-xl bg-white text-slate-800">
                1 min
            </h3>
        </div>
    </div>

    <div id="load-5"
         class="group flex flex-col h-full  rounded-xl  shadow-lg shadow-slate-900  border border-slate-500  dark:border-slate-700  ">
        <div class="h-36 flex flex-col justify-center items-center  bg-sky-600   text-5xl lg:text-7xl text-black rounded-t-xl ">
            {{ load5 }}
        </div>
        <div class="p-4 md:p-6 bg-white dark:bg-black rounded-b-xl text-center content-center">
            <h3 class="text-xl font-semibold rounded-b-xl bg-white  text-slate-800   hover:text-slate-500">
                5 min
            </h3>
        </div>
    </div>

    <div id="load-15"
         class="group flex flex-col h-full  rounded-xl  shadow-lg shadow-slate-900  border border-slate-500  dark:border-slate-700
  ">
        <div class="h-36 flex flex-col justify-center items-center  bg-sky-600 dark:bg-sky-900  text-5xl lg:text-7xl text-black rounded-t-xl ">
            {{ load15 }}
        </div>
        <div class="p-4 md:p-6 bg-white dark:bg-black rounded-b-xl text-center content-center">
            <h3 class="text-xl font-semibold rounded-b-xl bg-white text-slate-800 hover:text-slate-500">
                15 min
            </h3>
        </div>
    </div>

</div>
